#body{
    background-color: rgb(104, 228, 32);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
    margin-left: 400px;
    margin-top:170px ;
    background-color: rgb(80, 223, 80);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #097509;
}
.div1{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.p{
    padding-left: 150px;
    color: white;
}
.p1{
    width: 100%;
    /* padding-left: 250px; */
    size: 200px;
    font-weight:900;
}

.js-rock,
.js-paper,
.js-scissors{
    height: 30px;
    background-color: rgb(104, 228, 32);
    font-size: 20px;
    border-radius: 20px;
    color: white;
    border-style: solid;
    border-color: #097509;
    transition: 1s;
}

.js-paper:hover,
.js-rock:hover,
.js-scissors:hover{
    background-color: #075307;
    cursor: pointer;
    
}


.js-state{
    padding-left: 200px;
    background-color: rgb(104, 228, 32);
    font-size: 20px;
    color: #097509;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-width: 1px;
}

.js-scores{
    padding-left: 120px;
    font-size: 23px;
    color: #097509;
}

.div3{
    margin-left: 150px;

}
.js-reset{
    height: 30px;
    width: 200px;
    background-color: white;   
    font-size: 20px;
    border-radius: 20px;
    color: #097509;
    border-style: solid;
    border-color: #097509;
    border-width: 2px;
    transition: 1s;
}

.js-reset:hover{
    background-color: #097509;
    color: white;
}